//bar-tp
.bar-tp{
    padding: 12px 0;
    font-size: 12px;
    .btn{
        padding:5px 10px;
    }
    //Max-width:991
    @media (max-width:$max-tablet){
        display: none;
    }
    //Min-width:1200
    @media (min-width:$desktop-md){
        font-size:$size-14;
    }
}
.bar-tp_item{
    position: relative;
    border-right: 1px solid white;
    padding-left: 20px;
    padding-right: 8px;
    margin-right: 5px;
    em{
        position: absolute;
        font-size: 16px;
        left: 0;
        @include center_y();
    }
    //Min-width:1200
    @media (min-width:$desktop-md){
        padding-left: 25px;
        padding-right: 10px;
        margin-right: 8px;
    }
}
.bt-tp_lang{
    padding-left:5px;
    padding-right: 0;
    margin-right: none;
    border-right: none;
}

//Bread-crumb
.bread-crumb{
    padding: 10px 15px;
    a, span{
        display: inline-block;
        padding: 6px 20px;
        vertical-align: middle;
    }
    a{
        position: relative;
        &:first-of-type{
            padding-left: 0;
        }
        &:after{
            @include cont_elm();
            width: 1px;
            height: 100%;
            top: 0;
            right:0;
            background-color: currentColor;
        }
    }
    span{
        font-weight: 600;
    }
}

//heading styles
.ht-one, .ht-two, .ht-two_h, .ht-three, .ht-three_h{
    position: relative;
}
.ht-back, .ht-front{
    display: block;
}
.ht-back{
    font-size: 70px;
    line-height: 0.8em;
    opacity:.05;
    //min-width:768
    @media (min-width:575px){
        font-size: 100px;
    }
    //Min-width:992
    @media (min-width:992px){
        font-size: 120px;
    }
}
.ht-front{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -10%);
    //Max-width:767px
    @media (max-width:$max-mobile){
        width: 100%;
        transform: translate(-50%, -20%);
    }
    //Min-width:768
    @media (min-width:768px){
        font-size: $size-30;
    }
    //Min-width:992
    @media (min-width:992px){
        font-size: $size-35;
    }
}
.ht-front--two{
    left: 20px;
    transform: translateY(-25%);
}
.ht-two{
    width:100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
    svg{
        max-width: 100%;
    }
    .b-l{
        transform:translate(-25px, 80%);
    }
    .b-r{
        transform: translate(25px, 80%);
    }
    //Max-width:767
    @media (max-width:$max-mobile){
        overflow:hidden;
        svg{
            display: none;
        }
    }
    //min-width:768px
    @media (min-width:$tablet){
        svg{
            max-width: 180px;
        }
    }
    //min-width:992px
    @media (min-width:$desktop-xs){
        svg{
            max-width: 300px;
        }
    }
    //min-width:1200px
    @media (min-width:$desktop-md){
        svg{
            max-width: 100%;
        }
    }
}
.ht-two_h{
    position: relative;
    line-height: 1em;
    //Max-width:767px
    @media (max-width:$max-mobile){
        &:before, &:after{
            @include cont_elm();
            width: 50%;
            height: 2px;
            background-color: currentColor;
            @include center_y();
        }
        &:before{
            left: -10px;
            transform: translateX(-100%);
        }
        &:after{
            right: -10px;
            transform: translateX(100%);
        }
    }
}
.ht-three{
    overflow: hidden;
}
.ht-three_h{
    &:before, &:after{
        @include cont_elm();
        width: 100%;
        max-width: 190px;
        height: 2px;
        top: 50%;
        background-color: currentColor;
    }
    &:before{
        left: -10px;
        transform: translate(-100%,-50%);
    }
    &:after{
        right: -10px;
        transform: translate(100%, -50%);
    }
}

//Swiper
.swiper-container-horizontal{
    .swiper-pagination{
        bottom: 0;
    }
}
.swiper-pagination{
    .swiper-pagination-bullet{
        width:12px;
        height: 12px;
        background: $green-one;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background: $green-two;
    }
}
//History
.swiper-container--his{
    padding-bottom:50px; 
    margin-bottom: 30px;
}
.swiper-pagination--his{
    //Min-width:992
    @media (min-width:$desktop-xs){
        display: none;
    }
}
.item-his_catg{
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    &:before, &:after{
        opacity: 0;
        transition: opacity .3s ease;
    }
    &:before{
        @include cont_elm();
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($green-one, .9);
    }
    &:after{
        content: url(../images/hex-white.svg);
        display: block;
        position: absolute;
        width: 130px;
        height: 152px;
        z-index: 2;
        @include center();
    }
    &:hover{
        &:before, &:after{
            opacity: 1;
        }
    }
}
.catg{
    display: inline-block;
    padding: 8px 15px;
}
.not-image{
    .catg{
        position: absolute;
        @include center();
        color: white;
    }
}
.item-his_img{
    position: relative;
    img{
        display: block;
    }
    .catg{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.cont-catg{
    position: absolute;
    left: 0;
    bottom: 0;
}
.item-his_cont{
    padding: 20px;
    border: 1px solid #d6d6d6;
    .btn-only{
        margin-top: 20px;
    }
}
.main-article{
    .item-his_img{
        margin-bottom: 15px;
    }
    .item-his_cont{
        padding: 0 0 30px;
        border: none;
        border-bottom: 1px solid $gray-three;
    }
    .catg{
        position: relative;
    }
}
.main-article, .item-his--two{
    img{
        display: block;
        max-width: none;
        width: 100%;
    }
}
.article-opt{
    column-count: 2;
    .btn-only{
        margin-top: 0;
    }
}
.article-social{
    a{
        display: inline-block;
        vertical-align: middle;
        padding: 8px;
        font-size: $size-20;
    }
}
.his-cont{
    //Min-width:768
    @media (min-width:$tablet){
        padding-left: 35px;
    }
    
}
.item-his--two, .item-his--three{
    position: relative;
}
.item-his--two{
    padding-top: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid $gray-three;
    .item-his_img{
        margin-bottom: $size-20;
    }
}
.item-his--three{
    padding-top: 25px;
    padding-bottom: 45px;
    border-bottom: 1px solid $gray-three;
}
.option-his{
    margin-top: 35px;
    //Max-width:991
    @media (max-width:$max-tablet){
        margin-bottom: 80px;
    }
}
.his-pagination{
    button, .his-pag-num{
        display: inline-block;
        vertical-align: middle;
        background-color: #dcdcdc;
    }
    button{
        padding: 5px 15px;
        border-radius: 30px;
    }
    //Max-width:480px
    @media (max-width:$mobile){
        width: 100%;
        margin-top: 15px;
    }
}
.his-pag-num{
    a{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        margin-right: 4px;
        &:last-of-type{
            margin-right: 0;
        }
        &.active{
            background-color: $green-two;
            color: white;
        }
    }
}
//global-community
.global-community{
    position: relative;
    padding: 80px 15px 50px  15px;
    background-color: #c8c8c8;
}
.btn-map{
    position: relative;
    width: 45px;
    height: 45px;
    z-index: 5;
    font-size: $size-30;
    background-color: white;
    box-shadow: 0 0 5px rgba($black-one, .1);
    border-radius: 50%;
    transition: transform .2s ease;
    em{
        position: absolute;
        @include center();
    }
    &:focus{
        outline-color: transparent;
    }
}
.btn-map--active{
    box-shadow: none;
    transform: translate(12px,5px);
}
.res-map{
    display: none;
    padding: 30px;
    width: 280px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba($black-one, .2);
    transform: translateY(-60px);
    p{
        font-size: $size-14;
    }
}
.res-map--active{
    display: block;
    animation: option-map .3s ease forwards;
}
.res-map_title{
    position: relative;
    padding: 0 35px 15px 25px;
}
.res-map_close{
    position: absolute;
    right: 0;
    top: calc(50% - 8px);
    transform: translateY(-50%);
    color: $green-two;
}
.res-map_ul{
    margin-top: 10px;
    li{
        border-bottom: 1px solid #dbe49a;
    }
}
.res-map_a{
    display: block;
    position: relative;
    font-size: $size-14;
    padding: 12px 30px 12px 0;
    em{
        position: absolute;
        right: 15px;
        @include center_y();
    }
}

//Fixed-media
.fixed-media{
    position: fixed;
    top: 170px;
    right: 0;
    z-index: 100;
    a{
        display: block;
        position: relative;
        width: 45px;
        height: 48px;
        font-size: $size-20;
        margin-bottom: 3px;
        background-color: rgba($green-one, .6);
        transition: background-color .3s ease;
        &:hover{
            background-color: $green-one;
        }
    }
    em{
        position: absolute;
        color: white;
        @include center();
    }
    //Max-width:767
    @media (max-width:767px){
        display: none;
    }
}
//btn-up
.btn-up{
    position: fixed;
    padding: 8px 15px;
    bottom: 100px;
    right: 15px;
    font-size: 25px;
    z-index: 50;
    opacity: 0;
    box-shadow: 0 0 5px rgba($black-one, .3);
    transition: opacity .3s ease;
    transform: rotate(-90deg);
    &:hover, &.active{
        opacity: 1;
    }
}

//main-content
.main-content{
    p{
        margin-bottom: 20px;
        line-height: 1.4em;
    }
}

//Mod
.mod-contact, .mod-become, .mod-become_c{
    position: relative;
}
.mod-contact, .mod-become, .mod-media, .mod-tags{
    //Max-width:991
    @media (max-width:$max-tablet){
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
//Mod-contact
.mod-contact{
    padding: 45px 12px 40px 12px;
    margin-bottom: 45px;
    border: 1px solid $gray-three;
    //Max-width:991
    @media (max-width:$max-tablet){
        margin-top: 80px;
    } 
}
.mod-contact_t{
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px 20px;
    transform:translate(-50%, -50%);
}
.mod-contact_c{
    .el-in-b{
        margin-right: 10px;
    }
}
//Mod-become
.mod-become{
    padding: 20px;
    background-image: url(../images/city-2.jpg);
}
.mod-become_c{
    padding: 70px 15px;
    border: 4px solid white;
}
.mod-become_t{
    margin-bottom: 30px;
    line-height: 1.3em;
}

//tags
.mod-tags{
    overflow: hidden;
    .ht-three_h{
        &:before, &:after{
            width: 200%;
        }
    }
    //Max-width:991
    @media (max-width:$max-tablet){
        text-align: center;
    }
}
.tag-item{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 20px;
    margin-right: 5px;
    margin-bottom: 15px;
    border: 1px solid $green-one;
    font-size: $size-14;
    border-radius: 30px;
    transition: background-color .3s ease;
    &.active, &:hover{
        background-color: $green-one;
        color: white;
    }
}
//mod-media
.mod-media{
    overflow: hidden;
    a{
        display: inline-block;
        padding: 0 10px;
        vertical-align: middle;
        font-size: $size-24;
    }
}