//Variables
$green-one: #c0d64d;
$green-two:#00b2aa;
$green-three:#25ac50;
$purple:#84358d;
$gray-one:#f3f3f3;
$gray-two:#5d5d5d;
$gray-three:#e9e9e9;
$black-one:#414042;

$font:'Open Sans', sans-serif;

$size-13:0.813rem;
$size-14:0.875rem;
$size-18:1.125rem;
$size-20:1.25rem;
$size-24:1.5rem;
$size-30:1.875rem;
$size-35:2.188rem;

$mobile:480px;
$max-mobile:767px;
$tablet:768px;
$max-tablet:991px;
$desktop-xs:992px;
$desktop-md:1200px;

//Mixins 
@mixin cont_elm($cont:"", $pos:absolute){
    content: $cont;
    position: $pos;
}
@mixin center(){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin center_y(){
    top: 50%;
    transform:translateY(-50%);
}